/* Remember:
 * Trim constants are to be order first
 */
/* Constants */
.trim-top-margin {
  margin-top: 0px;
}

.trim-vertical-margins {
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}

.margin-bottom-small {
  margin-bottom: 12px;
}

.heading-large {
  font-size: 36px;
}

.paragraph-small {
  font-size: 14px;
}

.text-align-off-center {
  margin-left: 16%;
}

.no-button-style {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

body {
	background-color: #003049;
	color: #E7E7E7;
	font-family: sans-serif;
}

a {
	color: #E7E7E7;
}

div {
  & .message {
   	color: red; 	
  }		
}

dialog {
  width: 360px;
  border-radius: 16px;
  border: 0.5rem solid #E7E7E7;
}

.dialog-informative {
  width: 340px;
  height: 480px;
}

dialog h2 {
  margin: 0;
}

dialog p {
  line-height: 1.4;
}

#levelDialog {
	overflow-y: hidden;
}

#levels-rounded-corners, .new-cards-parent {
  height:380px;
  width:380px;
  border-radius: 16px; 
  padding: 6px;
  background: #003049;
}

#level-title-date {
  font-size: 24px;
}

.new-cards-parent {
  border-radius: 16px; 
  border: 0.15rem solid #E7E7E7;
}

.cards-container {
  height:380px;
  width:380px;
  background-color: #003049;
  display: grid;
  place-items: center;
  max-height: 380px;
  overflow: auto;

  svg {
   padding: 4px 0px 4px 0px;
  }

  button:hover svg rect {
    stroke: #005786;
    fill: #005786;  
  }

  button {
    margin: 0;
    background-color: #003049;
    border: none;
    color: white;
    padding: 0px 0px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 300ms;
  }
}

#review-level-container {
  height:680px;
  border-radius: 16px;
}

.guessed-card, .level-card, .guessed-card-reference {
  /* Define the font family using web fonts */
  @font-face {
    font-family: "FiraSans";
    src:
      url("https://mdn.github.io/shared-assets/fonts/FiraSans-Italic.woff2")
        format("woff2"),
      url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap")
        format("woff2");
  }

  text {
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    font-size: 17px;
  } 
}



.focus-paragraph {
  text-align: center;
}

/*main section {
  column-count: 3;
  column-width: 40ch;
  max-width: 100ch;
  column-rule-width: 5px;
  column-rule-style: dotted;
  column-rule-color: rebeccapurple;
}

#section-1 {
  height: 40ch;
}*/

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.halves {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.thirds {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/*main {
  margin-inline: auto;
  max-width: 100ch;
  column-width: 40ch;
  column-gap: 3rem;
  column-rule: .5px solid #98838F;
  container-type: inline-size;
}

section:has(> aside) {
  display: flex;
  flex-wrap: wrap;
  gap: 0 3rem;
}

section:has(> aside) main {
  flex: 1;
  margin-inline: 0;
  min-width: min(100%, 30rem);
}

section:has(> aside) aside {
  flex: 4;
  min-width: min(100%, 30rem);
}

h1 { font-size: clamp(5.6526rem, 5.4068rem + 1.2288cqi, 6.3592rem); }

h2 { font-size: clamp(1.9994rem, 1.9125rem + 0.4347cqi, 2.2493rem); }

p { font-size: clamp(1rem, 0.9565rem + 0.2174cqi, 1.125rem); }

h1, h2, blockquote {
  column-span: all; 
}*/


/* Navigation Bar */
.nav-bar {
  padding-top: 2px;
}

.nav-bar-item {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 33%;
}

.no-bullets-list {
  list-style-type: none;
}

/* More Menu */
dialog {
  article {
    display: grid;
    justify-content: center;    
  }

  p {
    font-size: 14px;
  }

}

/* Dialog: FAQ */


.faq-dialog-answer {
  font-weight: 500;
  margin-top: 4px;
  margin-bottom: 24px;
}

.dialog-content-block {
  display: grid;
  justify-content: center;
}

/* Guessed cards */
.guessed-card-rect {
  transform: translate(5px, 5px);
  rx: 10px;
  ry: 10px;
  stroke-linejoin: round;
  stroke-width: 5px;
  fill-opacity: 0.5;
}

.guessed-card-reference {
  width: 260px;
  height: 55px;

  rect {
    width: 250px;
    height: 45px;
  }
  text {
    font-size: 16px;
  } 
}

.guessed-card-reference-title {
  transform: translate(36px, 60%);
}

.guessed-card-reference-grade {
  transform: translate(160px, 60%);
}

/* COLOURS */
.flag-red {
  stroke: #D62828;
  fill: #D62828;
}

.platinum {
  fill: #EDEDED;
  stroke: #EDEDED;
}

.baltic-blue {
  fill: #005786;
}

.white {
  fill: white;
}

